.navbar__black {
  z-index: 1;
  width: 100%;
  background-color: var(--grey-500);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0.7rem 2rem;
}

.navbar__account > span {
  margin: 0 15px;
  color: var(--grey-200);
}

.navbar__account > a {
  text-decoration: none;
  color: var(--white-100);
  font-weight: bold;
}

.navbar__container p {
  color: var(--white-100);
}

.navbar__white {
  z-index: 1;
  width: 100%;
  background-color: var(--white-100);
  padding: 5px 0;
}

.navbar__container--white {
  display: flex;
  justify-content: space-evenly;
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0.7rem 2rem;
}

.navbar__container--search_and-links {
  display: flex;
  gap: 20px;
}

.navbar__navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar__navigation > a {
  text-decoration: none;
  color: var(--black);
}

.navbar__navigation > a.active-link {
  font-weight: bold;
  color: var(--purple);
}

.navbar__suggestion--pop-up {
  display: flex;
  background-color: var(--white-200);
  width: 100%;
}


.navbar__suggestion--pop-up_container {
  display: flex;
  width: 550px;
  gap: 10px;
  margin: auto;
  overflow: hidden;
  padding: 1rem 2rem;
}

.navbar__suggestion--pop-up_container p {
  color: var(--purple);
  font-size: 1.1rem;
  cursor: pointer;
}

.navbar__suggestion--pop-up_container p:hover {
  color: var(--purple-100);
}

.navbar__suggestion--pop-up_container span {
  color: var(--grey-200);
  font-size: 1.1rem;
}

.navbar__active-account {
  display: flex;
  gap: 30px;
}

.logout-link {
  cursor: pointer;
}