:root {
  --white-100: #ffffff;
  --white-200: #fafafa;
  --white-300: #ececec;
  --white-400: #fcfcfc;
  --white-500: #f0f0f0;
  --white-600: #fffffe;
  --black: #000000;
  --grey-100: #d8d8d8;
  --grey-200: #9b9b9b;
  --grey-300: #979797;
  --grey-400: #3b3b3b;
  --grey-500: #252525;
  --purple: #8367d8;
  --purple-100: #c4bfd6;
  --purple-200: #e4e5ec;
  --blue: #000066;
  --blue-100: #5b9ed6;
  --blue-200: #0072ce;
  --blue-300: #0066cc;
  --blue-400: #475993;
  --blue-500: #415994;
  --blue-400: #26337a;
  --green: #6cc047;
  --green-100: #417505;
  --red: #cc0000;
  --red-100: #a6555f;
  --red-200: #cd5542;
  --orange: #ff9900;
  --orange-100: #ec982d;
  --brown: #ab944e;
  --font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--white-100);
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='number'],
input[type='image'],
select,
textarea {
  width: 100%;
  padding: 15px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid var(--grey-100);
  box-sizing: border-box;
}

input::placeholder {
  color: var(--grey-100);
  font-family: var(--font-family);
}

.logo {
  display: flex;
  gap: 15px;
  align-self: center;
}

.logo > h1 {
  display: flex;
  justify-content: center;
  color: var(--purple);
  font-weight: 100;
}

.logo__icon {
  fill: var(--purple);
  width: 30px;
  height: 50px;
  transform: scaleX(-1);
}

.wrapper {
  min-height: 100%;
  max-width: 1200px;
  position: relative;
  margin: 5rem auto;
}

.content {
  padding: 30px 0;
}

.image-container {
  position: relative;
}

.image-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.image {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-loaded {
  opacity: 1;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  margin: 2.5rem 0;
}
