.loading-spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 9999;
  height: 80%;
  width: 100%;
}

.page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--grey-100);
  border-top-color: var(--purple);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}