.privacy-policy__page--wrapper {
    max-width: 800px;
}

.privacy-policy__page--wrapper h4 {
    color: var(--grey-500);
    margin: 1rem 0;
    font-size: 1.5rem;
}

.privacy-policy__page--wrapper p {
    color: var(--grey-200);
    margin-bottom: 0.8rem;
}

.privacy-policy__page--wrapper li {
    color: var(--grey-200);
    margin: 0.8rem 1rem;
}