.form__checkbox {
    display: flex;
    gap: 10px;
    margin: 1rem 0 1.5rem 0;
}

.form__social-media--buttons {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    gap: 12px;
}

.form__social-media--button {
    background-color: var(--white-100);
    padding: 8px;
    border: 1px solid var(--grey-100);
    height: 4rem;
    width: 18rem;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
}

.form__social-media--button span {
    display: flex;
    align-items: center;
    gap: 12px;
}

.form__social-media--button p {
    font-weight: bold;
    font-size: medium;
}

.form__social-media--icon {
    width: 30px;
    height: 30px;
}

.facebook-button__color {
    color: var(--blue-200);
}

.error-message {
    position: relative;
}

.error-message > p {
    color: var(--red);
    margin-bottom: 5px;
    position: absolute;
    top: -20px;
}

.card-input__flex-container div {
    width: 100%;
    height: 40px;
}
  
.card-input__wrapper {
    width: 100%;
    border: 1px solid var(--grey-100);
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;  
}
  
.card-input__flex-container {
    display: flex;
    gap: 20px;
    height: 130px;
}

.form-field__phone-number {
    position: relative;
    margin: 15px 0;
}

.form-field__phone-number--verfication_status {
    position: absolute;
    top: 21px;
    right: 0;
    background-color: var(--grey-100);
    padding: 10px 30px;
    color: var(--red-200);
    font-weight: 600;
}

.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--red) !important;
  color: #ffffff;
  padding: 0;
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: var(--red-100);
}

  .error-message {
    position: relative;
  }

  .error-message > p {
    color: var(--red);
    margin-bottom: 5px;
    position: absolute;
  }

  .input-with-icon {
    position: relative;
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 46px;
    position: absolute;
    z-index: 1;
  }
  
  .input-icon {
    font-size: 1.2em;
  }

  .icon-box-focused {
    border: 2px solid black !important;
  }
  
  .checkout-form {
    width: 400px;
  }

  .checkout-form button {
    width: 400px;
    margin: 15px 0;
    padding: 10px 0;
    text-align: center;
    background-color: var(--white-100);
    border: 3px solid var(--purple);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }

  .custom-datepicker {
    width: 14rem !important;
  }

  .custom-datepicker-input {
    cursor: pointer;
    background-color: transparent;
}

  .custom-datepicker-icon {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: -1;
  }