.search {
    position: relative;
    min-width: 500px;
}

.search .search__icon {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 25px;
    height: 20px;
}

.search > input {
    height: 55px;
}