.product {
    width: 100%;
    height: 23rem;
}

.product img{
    width: 100%;
    height: 80%;
}

.product__details {
    text-align: left;
}

.product__details h3 {
    font-size: 1.5rem;
}

.product__details p {
    color: var(--grey-200);
}

.product__details span {
    color: var(--purple);
    font-weight: 700;
}