.landing-page__wrapper {
    margin: 1rem auto;
}

.landing-page__categories--and_product {
    display: flex;
    gap: 9rem;
}

.landing-page__recommended--products_tab {
    font-weight: bold !important;
    margin: 10px 0;
}

.landing-page__recommended-products_grid-view {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    gap: 30px;
    margin: 0;
}

.landing-page__recommended-products_grid-view > .product {
    height: 35rem;
    margin: 25px 0;
}

.landing-page-product {
    width: 100%;
}

.landing-page-product img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
}